<nav class="container-flex-row ">    
    <ul>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/']">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
        </li>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/all-avatars']">
                <mat-icon>account_box</mat-icon>
                <span>All Avatars</span>
            </button>
        </li>
        <li>
            <button type="button" mat-raised-button color="primary" [routerLink]="['/edit', 'create', -1]">
                <mat-icon>person_add</mat-icon>
                <span>Create Avatar</span>
            </button>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>